h1{
    font-family: arial;
    color: #0193d7;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 200px;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button{
    background-color: #a3ce52;
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.button-hide{
  display: none;
}


p{
    font-family: arial;
    line-height: 1.5;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px;
}

#choices button{
  
    font-family: arial;
    background-color: #a3ce52;
    color: white;
    text-align: center;
    display: inline-flexbox;
  
    border: 1px solid #000;   
    justify-content: center;
    margin: 0 auto;
    margin-top:10px;
    padding: 2px;
}
  
#rw{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

#timer{
  font-family: arial;
  color: #0193d7;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

